$background-light: hsl(0, 0%, 100%);
$background-dark: hsl(0, 0%, 13%);
$text-dark: hsl(0, 0%, 13%);
$text-light: hsl(0, 0%, 100%);
$line-grey: hsl(0, 0%, 95%);
$color-border: hsl(0, 0%, 75%);


$color-primary: hsl(197, 37%, 24%);
$color-success: hsl(173, 58%, 39%);
$color-warning: hsl(43, 74%, 66%);
$color-accent: hsl(27, 87%, 67%);
$color-error: hsl(12, 76%, 61%);

$radius: 5px;
$lighten: 5%;
$darken: 5%;

$font-family: Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-padding: 1rem;
$base-margin: 1rem;

$border: 1px solid $color-border;