@use 'theme';

h1 {
    font-size: calc(theme.$baseFontSize * 3);

}

h2 {
    font-size: calc(theme.$baseFontSize * 2.6);
}

h3 {
    font-size: calc(theme.$baseFontSize * 2.2);
}

h4 {
    font-size: calc(theme.$baseFontSize * 1.8);
}

h5 {
    font-size: calc(theme.$baseFontSize * 1.4);
}

h6 {
    font-size: calc(theme.$baseFontSize * 1.2);
}

p,
span,
ul,
ol,
code,
pre {
    font-size: calc(theme.$baseFontSize * 1);
}

code {
    font-family: monospace;
}

sub {
    vertical-align: sub;
}

sup {
    vertical-align: super;
}

b {
    font-weight: 700;
}

i {
    font-style: italic;
}

small {
    font-size: small;
}

em {
    font-style: oblique;
}

ul li {
    vertical-align: baseline;
}

ul li:before {
    display: inline;
    margin-right: 10px;

    vertical-align: middle;
    content: '•';
}

ol {
    counter-reset: cupcakee
}

ol li {
    counter-increment: cupcake;
}

ol li:before {
    content: counters(cupcake, '.') '.';
    display: inline;
    margin-right: 10px;

    vertical-align: middle;

}